<div class="card shadow" fxLayout="row" fxLayout.xs="column" style="background: #f1f3f8">
  <div class="p-4 ml-4" fxFlex="none" fxFlexAlign="center">
    <img src="../../../../assets/images/checklist.svg" style="height: 168px; width: 152px">
  </div>

  <div class="text-primary" fxFlex="auto" style="padding: 6px;">
    <h4><b>{{greet}}</b></h4>
    <h2>{{username}}</h2>
    <h2 class="headline m-0"></h2>
    <p class="caption m-0 opacity-50">You've finished all of your tasks for this week.</p>
  </div>
</div>
