<div class="login-page">
  <div class="content px20">
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="text-center mb10">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ad/Bank_Mandiri_logo_2016.svg/2560px-Bank_Mandiri_logo_2016.svg.png"
          alt="" height="50px">
      </div>
      <div fxLayout="row">
        <div fxFlexFill>
          <mat-form-field class="w-100" appearance="outline">
            <input matInput placeholder="Enter user name" formControlName="userName" required>
            <mat-error
              *ngIf="!loginForm.get('userName')?.errors?.invalid && (loginForm.get('userName')?.errors?.required)">
              Username is required
            </mat-error>
          </mat-form-field>

          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Password</mat-label>
            <input [type]="inputType" formControlName="password" matInput required>
            <button (click)="toggleVisibility()" mat-icon-button matSuffix matTooltip="Toggle Visibility" type="button">
              <mat-icon *ngIf="visible" [icIcon]="icVisibility"></mat-icon>
              <mat-icon *ngIf="!visible" [icIcon]="icVisibilityOff"></mat-icon>
            </button>
            <mat-error>
              Password is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div  class="text-center">
        <h5 class="text-center">Username atau Password? 
        <br>Untuk Login Aplikasi ada di file README.MD</h5>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between" fxLayout.xs="column" class="mt10 mb10">
      </div>
      <div fxLayout="row">
        <div fxFlexFill>
          <button type="submit" mat-raised-button color="primary" class="w-100" [disabled]="loginForm.invalid"
            [class.spinner]="isLoading" (click)="loginData()">Login</button>
        </div>
      </div>

    </form>
  </div>
</div>